*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{

    --color-head_foot : #444854;
    --color-famur: #78B928;
    --color-dark-famur: rgb(85,107,47);
    --color-button-hover: #d1ecaf;
}

body{
    background-color: black;
}

.header {
    height: 80px;
    width: 100%;
    background-color: var(--color-head_foot);
}

.footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: var(--color-head_foot);
}

.main{

}

.calendar{    
    position: relative;
    margin: auto;   
    width:1000px;
    background-color: #E0E0E0;  
    outline: solid 1px orange;
}

.calendar__navi{
    width:300px;
    height: 50px;    
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*  background-color: var(--color-famur);
    box-shadow: 3px 3px 3px var(--color-dark-famur);
    border-radius: 5px;*/
}

.calendar__navi-months-bar {
    color: var(--color-dark-famur);  
    font-weight: bold;
    font-size: 20px;
}

.calendar__days-bar {
    margin: 0 auto;    
    width: 700px;      
    display: flex;
}

.calendar__days-bar-item {
    height: 20px;
    width: 80px;
    background-color: var(--color-dark-famur);
    border-radius: 2px;    
    margin: 10px;
    line-height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(141,197,62); 
}

.calendar__page {
    margin: 10px auto;    
    width: 700px;    
    display: flex;
    flex-wrap: wrap;   
    background-color: #F9F9F9;    
    border-radius: 5px;   
    outline: solid 1px orange;
}

.calendar__page-item
{
    height: 80px;
    width: 80px;
    background-color: rgb(141,197,62);    
    border-radius: 3px;    
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
    text-align: center;
    line-height: 30px;
    color: rgb(85,107,47);
    font-weight: bold;
    font-size: 20px;
}

.calendar__page-item:hover{
    background-color: #589908;
    }

.calendar__page-item>p{
    line-height: 37px;
    color: rgb(85,107,47);
    font-weight: bold;
    font-size: 20px;
}

.calendar__page-item>span{
    color: var(--color-head_foot);
    font-weight: bold;
    font-size: 25px;
}

.calendar__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    /*  height: 400px;*/
    background-color: var(--color-famur);
    display: none;
    border-radius: 5px;
    border: solid 1px lightgrey;
    box-shadow: 0 0 15px 15px rgb(85,107,47);
    display:none;
    min-height: 400px;
    max-height: 670px;
    flex-direction: column;
    overflow: hidden;    
}
.calendar__modal-input{
    border: none;    
    color: var(--color-famur);
    width: 150px;
    margin-left: 110px;  
    background-color: var(--color-dark-famur);
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: center;
}

.calendar__modal-day-field{
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.7);
    color: var(--color-dark-famur);
}

.calendar__modal-list{
    list-style: none;
    margin: 20px;
}

.calendar__modal-list-item{
    font-size: 25px;
    line-height: 25px;
    border-bottom: solid 1px var(--color-dark-famur);
    vertical-align:middle;
    text-align: center;
    padding-bottom: 10px;
}

.delete_span{
    margin-top:10px;
    font-size: 25px;
}

.btn{
    border:none;   
    background-color: transparent;   
    color: var(--color-dark-famur) ; 
}

.btn--nav{
    height: auto;
    width: auto;    
}
.btn:hover{   
    color: var(--color-button-hover);
}